@if (User.Identity.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="#">
                hi, @User.Identity.Name
            </a>
        </li>
        <li>
            <a href="/Account/Signout">
                Signout
            </a>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a id="signin" href="#">Signin</a></li>
        <li><a id="signup" href="#">Signup</a></li>
    </ul>
}